@model TaskManager.Extensions.UI.PaginatedList<UserProfile>
@using TaskManager.DAL.Models;
@{
    ViewData["Title"] = "Users";
    var index = 0;
}

<h1 class="mt-4">Users</h1>


<table class="table">
    <tr>
        <th>
            Registered On
        </th>
        <th>
            Tasks
        </th>
        <th>
            Email
        </th>
        <th>
            Actions
        </th>
    </tr>
    @foreach (var item in Model)
    {
        var rtId = "item" + index.ToString();
        <tr id="@rtId">
            <td>
                @Html.DisplayFor(modelItem => item.RegistredOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tasks.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-controller="UserManagement" asp-action="Ban" asp-route-id=@item.Id class="btn btn-danger">Ban user</a>
                <a asp-controller="UserManagement" asp-action="Unban" asp-route-id=@item.Id class="btn btn-primary">Unban user</a>
            </td>
        </tr>
        index++;
    }
</table>
