@model IEnumerable<TaskManager.DTO.Task.TaskItemDTO>

@{
    ViewData["Title"] = "Index";
    
}

</div>

<div class="container-fluid">

    <div class="row mt-4">
        <div class="col-md-6 col-lg-3 d-flex">
            <div class="card mb-grid w-100">
                <div class="card-body d-flex flex-column">
                    <div class="d-flex justify-content-between mb-3">
                        <h5 class="card-title mb-0">
                            Personal Performance
                        </h5>

                    </div>

                    <div class="progress mt-auto">
                        <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0"
                             aria-valuemax="100">70%</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex">
            <div class="card mb-grid w-100">
                <div class="card-body d-flex flex-column">
                    <div class="d-flex justify-content-between mb-3">
                        <h5 class="card-title mb-0">
                            Open Tasks
                        </h5>

                        <div class="card-title-sub">
                            18/30
                        </div>
                    </div>

                    <div class="progress mt-auto">
                        <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="75" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex">
            <div class="card border-0 bg-primary text-white text-center mb-grid w-100">
                <div class="d-flex flex-row align-items-center h-100">
                    <div class="card-body">
                        <div class="card-info-title">Completed this week</div>
                        <h3 class="card-title mb-0">
                            3
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex">
            <div class="card border-0 bg-success text-white text-center mb-grid w-100">
                <div class="d-flex flex-row align-items-center h-100">
                    <div class="card-body">
                        <div class="card-info-title">Your rate among 2000 users</div>
                        <h3 class="card-title mb-0">
                            1,258
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-3">
            
            <div class="card">
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Statuses </h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <form>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        Mersedes Benz
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        Nissan Altima
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        Another Brand
                                    </span>
                                </label>
                            </form>
                        </div>
                    </div>
                </article>

                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Category</h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <label class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                <span class="form-check-label">
                                    First hand items
                                </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                <span class="form-check-label">
                                    Brand new items
                                </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                <span class="form-check-label">
                                    Some other option
                                </span>
                            </label>
                        </div>
                    </div>
                </article>
                <button type="button" class="btn btn-success">Apply Filters</button>
            </div>
        </div>
       
        <div class="col-lg-9">
            <h2 class="pb-1">Active tasks</h2>
            <a asp-action="Create" class="btn btn-lg btn-primary m-3">Create new</a>
            @foreach (var item in Model)
            {
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="card-header-title">TM-index</div>
                    </div>
                    <div class="card-body collapse show">
                        <h4 class="card-title">@item.Title</h4>
                        <p class="card-text">@item.Description</p>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">View</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div>
